<table class="table-auto min-w-full text-left border border-gray-300">
    <thead class="font-medium text-gray-500 uppercase tracking-wider border-b">
        <tr>
            <th>ID</th>
            <th>GTFS ID</th>
            <th>Headsign</th>
            <th>Short Name</th>
            <th>Direction</th>
            <th>Block Id</th>
            <th>Wheelchair</th>
            <th>Bikes</th>
            <th>Route ID</th>
            <th>Created At</th>
            <th>Last Updated At</th>
        </tr>
    </thead>
    <tbody>
        <tr class = "border-b">
            <td><%= @trip.id %></td>
            <td><%= @trip.gtfs_trip_id %></td>
            <td><%= @trip.trip_headsign %></td>
            <td><%= @trip.trip_short_name %></td>
            <td><%= @trip.direction %></td>
            <td><%= @trip.block_id %></td>
            <td><%= @trip.wheelchair_accessible %></td>
            <td><%= @trip.bikes_allowed %></td>
            <td><%= @trip.route_id %></td>
            <td><%= @trip.created_at %></td>
            <td><%= @trip.updated_at %></td>
        </tr>
    </tbody>
</table>

<h1>Positions:</h1>
<table class="table-auto min-w-full text-left border border-gray-300">
    <thead class="font-medium text-gray-500 uppercase tracking-wider border-b">
        <tr>
            <th>ID</th>
            <th>lon</th>
            <th>lat</th>
            <th>bearing</th>
            <th>odometer</th>
            <th>speed</th>
            <th>vehicle stop status</th>
            <th>measured at</th>
            <th>congestion level</th>
            <th>trip identifier id</th>
            <th>Created At</th>
            <th>Last Updated At</th>
        </tr>
    </thead>
    <tbody>
        <% @latest_positions.each do |position| %>
        <tr class = "border-b">
            <td><%= position.id %></td>
            <td><%= position.lon %></td>
            <td><%= position.lat %></td>
            <td><%= position.bearing %></td>
            <td><%= position.odometer %></td>
            <td><%= position.speed %></td>
            <td><%= position.vehicle_stop_status %></td>
            <td><%= position.measured_at %></td>
            <td><%= position.congestion_level %></td>
            <td><%= position.trip_identifier_id %></td>
            <td><%= @trip.created_at %></td>
            <td><%= @trip.updated_at %></td>
        </tr>
    <% end %>
    </tbody>
</table>
